<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EncryptEmail</display-name>
  
  <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
 
    <context-param>
        <param-name>user</param-name>
        <param-value>dangerinmyheart@gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>ouebqttihqpiwxlm</param-value>
    </context-param>
  
  <welcome-file-list>
  	<welcome-file>Login</welcome-file>
  </welcome-file-list>

<filter>
		<filter-name>userFilter</filter-name>
		<filter-class>filter.UserFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>userFilter</filter-name>
		<url-pattern>/Mail/*</url-pattern>
		<url-pattern>/SendEmail/*</url-pattern>
		<url-pattern>/CheckEmail/*</url-pattern>
	</filter-mapping>
</web-app>